
.btn-custom{
    background-color: rgb (168, 102, 50);
}

.btn-custom:hover{
    color: rgb(168, 102, 50);
}

.nav-link:hover{
      color: rgb(168, 102, 50);
}


body {
  font-family: "Roboto", sans-serif;
}
